sudo: required
dist: xenial

language: python

python:
  - "3.7"

install:
  - pip install -r requirements.txt
  
script:
  - python ./part_of_search/src/test_json_functions.py
  - python ./part_of_search/src/test_FCA_spreadsheets.py
