sudo: required
dist: xenial

language: python

python:
  - "3.10.14"

install:
  - pip install -r requirements.txt
  
script:
  - cd feedback_spreadsheet_generation/src/
  - python ./test_json_functions.py
  - python ./test_FCA_spreadsheets.py
